@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
body {
	margin:0;
	padding:0;
	background: #252525;
	font-family: 'Open Sans', arial;
	font-size: 18px;
	line-height: 1.5em;
	letter-spacing: 1px;
}

h1 {
	margin: 0 auto 20px auto;
	font-size: 2.5em;
}
.footer a {
	color: white;
}
.footer {
	overflow: auto;
	padding: 10px ;
	margin: 0;
}
.banner-wrapper {
	clear:both;
	position: relative;
}
.hvcenter {
	position: relative;
	min-height: inherit;
	overflow: auto;
}
.hvcenter>*{
	overflow: auto;
  	margin: 8vw auto;
}
.transparent {
	width: 100%;
	min-height: inherit;
	background: rgba(0,0,30,0.5);
}
.centered {
	text-align: center;
}
.justify {
	text-align: justify;
}
.left {
	float:left;
}
.right {
	float:right;
}

.spaced {
	padding:4vw;
}

.oauth-small-button {
	display:inline-block;
	width: 40px;
	height: 30px;
	background-size: 40px 40px !important;
}
.oauth-facebook {
	background: url('images/facebook.svg') center ;

}
.oauth-twitter {
	background: url('images/twitter.svg') center ;

}
.oauth-linkedin {
	background: url('images/linkedin.svg') center ;
}
.oauth-google_oauth2 {
	background: url('images/googleplus.svg') center ;
}
#contact fieldset {
	vertical-align: top;
	display: inline-block;
	margin: auto;
	width: 40%;
	min-width:400px;
	padding:50px;
	line-height:2em;
}
#contact th {
	padding: 5px;
}
#contact input {
	width: 100%;
}
#contact textarea {
	width: 100%;
	height:100px;
}
/* HEADER */
.banner1 {
	
	font-size: 0px;
	background: #252525;
	margin:50px 10px 10px 10px;
	height:25vw;
	max-height:350px;
	min-height: 100px; 
}
#logo {
	height:60%;
	position: absolute;
  top: 50%;
  left: 2%;
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#home {text-align: center;}
.header-tires {
	position: relative;
	width: calc(60% - 10px);
	margin-right: 10px;
	display: inline-block;
	height: 100%;
	background: url('images/snail.jpg') center right no-repeat;
	background-size: 100%;
}
.header-scooter{
	position: relative;
	width: 39.5%;
	display: inline-block;
	height:100%;
	background: url('images/scooter.jpg') bottom left no-repeat;
	background-size: cover;
}

/* ABOUT */
.banner2 {
	background: #E0D3BB;
	min-height: 300px;
	color: #252525;
}

/* new contest */
.banner3 {
	margin:10px;
	background: url('images/road.jpg') #aaaaaa center no-repeat;
	background-size: cover;
	min-height: 300px;
	color:white;
}
/* contest */
.banner3-2 {
	color:white;
	background: rgb(86, 44, 52);
}
.winners {
	margin: 60px auto;
}
.win1, .win2, .win3 {
	height: 300px;
	width: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.win1 {
	background-image: url('images/scooterpics/VespaStickers.jpg');
}
.win2 {
background-image: url('images/scooterpics/vespa.jpg');
background-position: center right;
}
.win3 {
background-image: url('images/scooterpics/vespa2.jpg');
}
/* contact */
.banner4 {
	color: white;
	background: #272730;
}